/*.custom_square {*/
/*    width: 100px; !* Set width to desired value *!*/
/*}*/

/*.custom_square:after {*/
/*    content: "";*/
/*    display: block;*/
/*    padding-top: 25%;*/
/*    padding-bottom: 25%; !* Set padding-bottom to same value as width to make a square *!*/
/*}*/

#grid {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;

    /* The rule below is implemented in most browsers by now */
    user-select: none;
}