{% extends "index.html" %}

{% block crossword %}
<div class="col-md-6 offset-md-3 animate__animated animate__fadeInUp" style="padding-top: 32px">
    <h1 class="text-center" style="font-size: 3rem; padding-bottom: 12px">Your Crossword:</h1>
    <div id="grid">
        <table class="table" style="border-collapse: collapse">
            <tbody>
                {% for row in crossword['crossword'] %}
                <tr>
                    {% set count_namespace = namespace(count=0) %}
                    {% for letter in row %}
                    {% if row == crossword['crossword'][0] and letter == row[1] and count_namespace.count == 1 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">1</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][0] and letter == row[3] and count_namespace.count == 3 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">2</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][0] and letter == row[5] and count_namespace.count == 5 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">3</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][0] and letter == row[7] and count_namespace.count == 7 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">4</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][0] and letter == row[9] and count_namespace.count == 9 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">5</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][1] and letter == row[0] and count_namespace.count == 0 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">6</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][1] and letter == row[5] and count_namespace.count == 5 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">7</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][3] and letter == row[1] and count_namespace.count == 1 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">8</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][5] and letter == row[0] and count_namespace.count == 0 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">9</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][5] and letter == row[1] and count_namespace.count == 1 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">10</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][5] and letter == row[7] and count_namespace.count == 7 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">11</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][7] and letter == row[0] and count_namespace.count == 0 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">12</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][7] and letter == row[3] and count_namespace.count == 3 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">13</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][7] and letter == row[9] and count_namespace.count == 9 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">14</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][9] and letter == row[0] and count_namespace.count == 0 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">15</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% elif row == crossword['crossword'][9] and letter == row[7] and count_namespace.count == 7 %}
                    <td class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;">
                        <p style="position: fixed; font-size: 12px; margin-top: -6px; margin-left: -2px; margin-bottom: 0">16</p>
                        <p style="margin-bottom: 0"><b>{{ letter }}</b></p>
                    </td>
                    {% else %}
                    <td{% if '#' in letter %} class="text-center custom_square" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black; background-color: black; color: black;" {% else %} class="text-center" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;" {% endif %}><b>{{ letter }}</b></td>
                    {% endif %}
                    {% set count_namespace.count = count_namespace.count + 1 %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="clues" class="row">
        <div class="col-md-6 animate__animated animate__fadeInLeft" style="margin-top: 24px; border-left: 1px solid rgb(200, 200, 200); border-right: 1px solid rgb(200, 200, 200);">
            <h4>Across:</h4>
            <ul id="across_clues" style="list-style-type: none;">
                {% for clue in crossword['words'] %}
                {% if clue.orientation == "across" %}
                <li><b>{{clue.number}}:</b> {{clue.clue}} ({{clue.word|length}})</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="col-md-6 animate__animated animate__fadeInRight" style="margin-top: 24px;  border-right: 1px solid rgb(200, 200, 200);">
            <h4>Down:</h4>
            <ul id="down_clues" style="list-style-type: none;">
                {% for clue in crossword['words'] %}
                {% if clue.orientation == "down" %}
                <li><b>{{clue.number}}:</b> {{clue.clue}} ({{clue.word|length}})</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-md-6 offset-md-3 animate__animated animate__fadeInUp" style="padding-top: 48px">
    <h1 class="text-center" style="font-size: 3rem; padding-bottom: 12px">Print Your Crossword</h1>
    <p class="text-center" style="font-size: 1.25rem; color: rgb(120, 120, 120)">If you want to save your crossword, you can view it on a standalone page, either filled with letters or unfilled, and then right-click the page and hit "print". To do this, simply click either button below to view and print your crossword.</p>
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top: 12px">
            <form action="/filled_crossword" target="_blank">
                <button id="create-filled-crossword-button" class="btn btn-outline-success" style="float: right;">Print Filled Crossword</button>
            </form>
        </div>
        <div class="col-md-6 text-center" style="padding-top: 12px">
            <form action="/empty_crossword" target="_blank">
                <button id="create-empty-crossword-button" class="btn btn-outline-success" style="float: left;">Print Empty Crossword</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
