{% extends "index.html" %}

{% block crossword %}
<div class="col-md-8 offset-md-2 animate__animated animate__fadeInUp" style="padding-top: 32px">
    <h1 class="text-center" style="font-size: 3rem; padding-bottom: 12px">Your Crossword:</h1>
    <div id="grid">
        <table class="table" style="border-collapse: collapse">
            <tbody>
                {% for row in crossword['crossword'] %}
                <tr>
                    {% for letter in row %}
                    <td{% if '#' in letter %} class="text-center" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black; background-color: black; color: black;" {% else %} class="text-center" style="font-size: 24px; width: 100px; height: 50px; border: 1px solid black;" {% endif %}><b>{{ letter }}</b></td>
                    {% endfor %}}
                </tr>
                {% endfor %}}
            </tbody>
        </table>
    </div>
    <div id="clues" class="row">
        <div class="col-md-5 offset-md-1 animate__animated animate__fadeInLeft" style="margin-top: 32px; border-left: 1px solid rgb(200, 200, 200); border-right: 1px solid rgb(200, 200, 200);">
            <h6>Across:</h6>
            <ul id="across_clues" style="list-style-type: none;">
                {% for clue in crossword['words'] %}
                {% if clue.orientation == "across" %}
                <li><b>{{clue.number}}:</b> {{clue.clue}}</li>
                {% endif %}}
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="col-md-5 animate__animated animate__fadeInRight" style="margin-top: 32px;  border-right: 1px solid rgb(200, 200, 200);">
            <h6>Down:</h6>
            <ul id="down_clues" style="list-style-type: none;">
                {% for clue in crossword['words'] %}
                {% if clue.orientation == "down" %}
                <li><b>{{clue.number}}:</b> {{clue.clue}}</li>
                {% endif %}}
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<!--<script src="{{ url_for('static', filename='js/crossword.js') }}"></script>-->
{% endblock %}
