{% extends "navbar.html" %}

{% block content %}
<div class="col-md-6 offset-md-3 animate__animated animate__fadeInUp text-center" style="min-height: 60vh; padding-top: 32px">
    <h1 class="text-center" style="font-size: 4rem; padding-bottom: 12px">Error: invalid word inputs</h1>
    <p class="text-center" style="font-size: 1.5rem; color: rgb(120, 120, 120)">If you want to try input words again, please press the "WordsCrossed" banner at the top of the page.</p>
    <p class="text-center" style="font-size: 1.5rem; color: rgb(120, 120, 120)">Thank you!</p>
</div>
{% endblock %}